<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell 1.0</title>
    <link rel="stylesheet" href="/src/styles/listpsikolog.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
    />
    <script
      type="module"
      src="/src/scripts/components/navbar-masuk.js"
      defer
    ></script>
    <script type="module" src="/src/scripts/components/navbar-user.js"></script>
  </head>

  <body>
    <!-- navbar components -->
    <navbar-masuk id="masuk"></navbar-masuk>
    <div id="overlay" class="overlay" onclick="closeLoginPopup()"></div>
    <div class="login-container" id="login-container">
      <div class="login-title">
        <h2>Masuk</h2>
        <p>
          Belum punya akun?
          <a href="#" id="popupDaftar" onclick="openDaftarPopup()">Daftar</a>
        </p>
      </div>
      <form class="login-form" id="login-form">
        <div class="form-control">
          <input
            class="form-input"
            type="email"
            id="emaillogin"
            name="emaillogin"
            placeholder="Masukkan Email"
            required
          />
        </div>
        <div class="form-control">
          <i
            class="far fa-eye eye"
            onclick="togglePasswordLoginVisibility()"
          ></i>
          <input
            class="form-input"
            type="text"
            id="loginpassword"
            name="loginpassword"
            placeholder="Masukkan Kata Sandi"
            required
          />
        </div>
        <p><a href="/src/templates/lupasandi.html">Lupa kata sandi</a></p>
        <button class="submit-btn" type="submit">Masuk</button>
      </form>
    </div>
    <div id="overly" class="overly" onclick="closeDaftarPopup()"></div>
    <div class="daftar-container" id="daftar-container">
      <div class="daftar-title">
        <h2>Daftar</h2>
        <p>
          Sudah punya akun? <a href="#" onclick="openLoginPopup()">Masuk</a>
        </p>
      </div>
      <form class="daftar-form" id="daftar-form">
        <div class="form-control">
          <input
            class="form-input"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-control">
          <input
            class="form-input"
            type="notelp"
            id="notelp"
            name="notelp"
            placeholder="Nomor Handphone"
            required
          />
        </div>
        <div class="form-control">
          <i class="far fa-eye eye" onclick="togglePasswordVisibility()"></i>
          <input
            class="form-input"
            type="password"
            id="passworddaftar"
            name="passworddaftar"
            placeholder="Kata Sandi"
            required
          />
        </div>
        <div class="form-control">
          <i
            class="far fa-eye eye confpassword"
            onclick="toggleConfirmasiPasswordVisibility()"
          ></i>
          <input
            class="form-input"
            type="password"
            id="confpassword"
            name="password"
            placeholder="Konfirmasi Kata Sandi"
            required
          />
        </div>
        <button class="submit-btn" type="submit">Daftar</button>
      </form>
    </div>
    <main>
      <aside class="keahlian-psikolog">
        <form class="container-keahlian" id="filterForm">
          <h2>Pilih<br />Topik Keahlian</h2>
          <hr />
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="stress"
              class="filter-checkbox"
              data-filter="stress"
              value="1"
            />
            <label for="stress">Stress</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="gangguan_kecemasan"
              class="filter-checkbox"
              data-filter="gangguan_kecemasan"
              value="2"
            />
            <label for="gangguan_kecemasan">Gangguan Kecemasan</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="depresi"
              class="filter-checkbox"
              data-filter="depresi"
              value="3"
            />
            <label for="depresi">Depresi</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="keluarga_hubungan"
              class="filter-checkbox"
              data-filter="keluarga_hubungan"
              value="4"
            />
            <label for="keluarga_hubungan">Keluarga & Hubungan</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="trauma"
              class="filter-checkbox"
              data-filter="trauma"
              value="5"
            />
            <label for="trauma">Trauma</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="gangguan_mood"
              class="filter-checkbox"
              data-filter="gangguan_mood"
              value="6"
            />
            <label for="gangguan_mood">Gangguan Mood</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="pekerjaan_karir"
              class="filter-checkbox"
              data-filter="pekerjaan_karir"
              value="7"
            />
            <label for="pekerjaan_karir">Pekerjaan & Karir</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="kecanduan"
              class="filter-checkbox"
              data-filter="kecanduan"
              value="8"
            />
            <label for="kecanduan">Kecanduan</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="pengembangan_diri"
              class="filter-checkbox"
              data-filter="pengembangan_diri"
              value="9"
            />
            <label for="pengembangan_diri">Pengembangan Diri</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="gangguan_kepribadian"
              class="filter-checkbox"
              data-filter="gangguan_kepribadian"
              value="10"
            />
            <label for="gangguan_kepribadian">Gangguan Kepribadian</label>
          </div>
          <div class="content-keahlian">
            <input
              type="checkbox"
              id="identitas_seksual"
              class="filter-checkbox"
              data-filter="identitas_seksual"
              value="11"
            />
            <label for="identitas_seksual">Identitas Seksual</label>
          </div>
        </form>
      </aside>
      <section class="listpsikolog">
        <form class="search-psikolog" id="searchForm">
          <input
            type="text"
            placeholder="Masukkan nama psikolog"
            id="search-psikolog"
          />
          <div class="button-search">
            <button type="submit" id="searchButton">
              <i class="fas fa-search"></i>Cari
            </button>
          </div>
        </form>
        <div class="container-psikolog" id="container-psikolog">
          <!-- Loading Spinner -->
          <div
            id="loading-indicator"
            class="spinner"
            style="display: none"
          ></div>
        </div>
      </section>
      <script src="/src/scripts/views/pages/searchpsikolog.js"></script>
      <script src="/src/scripts/views/pages/listpsikolog.js"></script>
    </main>
    <footer>
      <span> &copy; 2025 MentalWell, Hak Cipta Dilindungi. </span>
    </footer>
  </body>
</html>
<script src="/src/scripts/views/pages/login.js"></script>
<script src="/src/scripts/views/pages/daftar.js"></script>
