<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell 1.0</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/src/styles/tespsikologi.css" />
    <script type="module" src="/src/scripts/components/navbar-user.js" defer></script>
    <script type="module" src="/src/scripts/components/navbar-masuk.js"></script>
</head>

<body>
    <navbar-masuk id="masuk"></navbar-masuk>

    <navbar-masuk id="masuk"></navbar-masuk>

    <main class="container">
      <div class="card hasil-section">
        <img src="/src/public/tespsikologi/growth.png" alt="Hasil Tes" class="illustration-hasil">
  
        <h2>Hasil Tes Psikologi</h2>
  
        <div class="hasil-info">
          <p>Level Stres</p>
          <h3 id="levelHasil">"Rendah"</h3>
          <p id="deskripsiHasil">
            Berdasarkan hasil screening kesehatan mental, saat ini kondisimu tergolong stabil. Jaga terus kesehatan mental kamu ya.
          </p>
  
          <button class="btn-primary full-width">Cari Bantuan</button>
        </div>
      </div>
    </main>
    
<footer>
    <span> &copy; 2025 MentalWell, Hak Cipta Dilindungi. </span>
</footer>
</body>
</html>
<script src="/src/scripts/views/pages/tespsikologi.js"></script>