* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body & Font */
body {
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-form {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
}

.btn-kembali {
  background-color: #6c757d !important;
  color: white !important;
  border: none !important;
}

.btn-kembali:hover {
  background-color: #99a4b0 !important;
  color: white !important;
    border: none !important;
}

.form-check {
  display: flex;
  align-items: center;
}

.btn.btn-tambah {
  background-color: #02BBDD !important;
  border: none !important;
  color: white;
}

.btn.btn-tambah:hover {
  background-color: #044B77 !important;
  color: white;
}

.btn.btn-hapus {
  background-color: #D21111 !important;
  border: none !important;
  color: white;
}

.btn.btn-hapus:hover {
  background-color: #920c0c !important;
}

.btn-file {
  background-color: #003b60 !important;
  color: white !important;
  padding: 6px 12px;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
}

.btn-file:hover {
  background-color: #002845;
}

.btn-simpan {
  background-color: #004a77 !important;
  color: white !important;
  border: none !important;
}

.btn-simpan:hover {
  background-color: #00a9e0 !important;
  color: white !important;
  border: none !important;
}

footer {
  font-size: 18px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: 20px;
  width: 100%;
  background-color: #02bbdd;
  color: #fff;
  text-align: center;
}
