body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  
  .search-refresh {
    display: flex;
    gap: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #00bcd4;
    color: white;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .btn-delete {
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
  
  .pagination {
    display: flex;
    gap: 5px;
    margin-top: 20px;
  }
  
/*
Footer
*/

footer {
    font-size: 18px;
    padding: 1.5em;
    height: 18px;
    background-color: #02bbdd;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
  }
  