* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 3rem;
  max-width: 1000px;
  flex: 1;
}

.btn-kembali {
  background-color: #6c757d !important;
  color: white !important;
  border: none !important;
}

.btn-kembali:hover {
  background-color: #99a4b0 !important;
  color: white !important;
  border: none !important;
}

.judul-detail {
  font-weight: bold;
  padding-left: 30px;
  font-size: 1.75rem;
}

.card-body {
  padding: 2rem;
}

.btn-verifikasi {
  background-color: #044b77;
  color: white;
}

.btn-verifikasi:hover {
  background-color: #02bbdd;
  color: white;
}

.btn-refund {
  background-color: #ffc107;
  color: #212529;
  border: none;
}

.btn-refund:hover {
  background-color: #ffcd39;
  color: #212529;
  border: none;
}

footer {
  width: 100vw;
  background: #02bbdd;
  color: #fff;
  text-align: center;
  margin-top: auto;
  padding: 2rem 0 3rem 0;
  font-size: 18px;
}
