body {
  display: flex;
}

main {
  flex: 1;
}

.container {
  margin-top: 98px;
}

.time.disabled {
  background-color: #ccc !important;
  color: #999 !important;
}

.data-diri .lengkapi {
  padding-top: 20px;
}

.jadwal .atur-jadwal {
  padding-top: 20px;
}

.card.waktu,
.card.metode {
  cursor: pointer;
}

.card.selected {
  background-color: #02bbdd;
  color: white;
}

button,
.btn,
.btn-kustom,
.rounded {
  transition: background 0.2s, color 0.2s;
}
button:hover,
.btn:hover,
.btn-kustom:hover,
.rounded:hover {
  background-color: #044b77 !important;
  color: #fff !important;
  border-color: #044b77 !important;
}

/*
Footer
*/

footer {
  font-size: 18px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: 18px;
  background-color: #02bbdd;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
