body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fafafa;
}

main {
  flex: 1;
  padding-top: 90px; 
  padding-bottom: 2rem; 
}

h5.page-title {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 90px;
}

#psychologist-info img {
  object-fit: cover;
}

.container {
  margin-top: 24px;
}

button {
  background-color: #044b77;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #02bbdd;
}

.time.disabled {
  background-color: #ccc !important;
  color: #999 !important;
}

.data-diri .lengkapi {
  padding-top: 20px;
}

.jadwal .atur-jadwal {
  padding-top: 20px;
}

.card.waktu,
.card.metode {
  cursor: pointer;
}

.card.selected {
  background-color: #02bbdd;
  color: white;
}

/*
Footer
*/

footer {
  font-size: 18px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: 18px;
  background-color: #02bbdd;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
