@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h2 {
  font-weight: 400;
  text-align: center;
  margin: 128px 30px 30px 30px;
}

.content-sesi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-sesi {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 1110px;
  margin-bottom: 30px;
}

.session-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 30px 30px 30px 10px; 
  cursor: pointer;
}

.info-sesi {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text p {
  font-size: 20px;
  line-height: 1.7;
  margin: 0 0 10px 10px;
  cursor: pointer;
}

.status-sesi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 230px;
}

.status {
  font-size: 22px;
  margin-right: 35px;
}

.btn-konseling {
  border: 1px solid #ccc;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  background-color: #044B77;
  width: 230px;
  height: 44px;
  cursor: pointer;
  font-size: 18px;
  margin: 80px 20px 0 0;
}

.btn-konseling:hover {
  background-color: #3ad0ea; 
  color: #ffffff;
}

.btn-konseling.disabled,
.btn-konseling:disabled {
  background-color: #7298a6;
  cursor: not-allowed;
}

.btn-konseling.disabled:hover,
.btn-konseling:disabled:hover {
  cursor: not-allowed; 
}

footer {
  font-size: 18px;
  padding: 1.5em;
  background-color: #02bbdd;
  color: #fff;
  text-align: center;
  margin-top: auto;
}

