html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  margin-top: 80px;
  background-color: #f8f9fa;
}

main.container {
  padding-bottom: 80px;
}

.illustration-hasil,
img.img-fluid.mb-4 {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#page2 {
  max-width: 850px;   
  margin: 0 auto;     
  padding: 10px;      
}

#page2 .card {
  padding-left: 5rem;
  padding-right: 2rem;
}

.option-container {
  padding-left: 2rem;
}

.option-container {
  display: flex;
  padding: 10px; 
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.option-button {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  max-width: 200px;
}

.option-button:hover {
  background-color: #e2e6ea;
}

.option-button.active {
  background-color: #fff;
  color: black;
  border-color: #044b77;
}

input[type="radio"] {
  accent-color: #044b77;
  transform: scale(1.1);
}

.btn-primary {
  background-color: #044b77;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #02bbdd;
}

footer {
  font-size: 18px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  width: 100%;
  background-color: #02bbdd;
  color: #fff;
  text-align: center;
}
